.mContainer{
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: white;
    width: 300px;
}

.mUser{
    margin-top: 7px;
    padding-bottom: 10px;
    cursor: pointer;
 }

 .middleUserFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
