.rightBar{
  height: 300px;
  background-color: black;
}

 .containerRB {
    padding: 20px;
 }

 .RBItem {
    display: flex;
    align-items: center;
    gap: 5px;
    color: blue;
}

.rbimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.userrb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.userInforb {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    
}